<!--<form class="layui-form x-center">-->
<!--<div class="layui-form-pane" style="margin-top: 15px;">-->
<!--<div class="layui-form-item">-->
<!--<label class="layui-form-label">日期范围</label>-->
<!--<div class="layui-input-inline">-->
<!--<input class="layui-input" placeholder="开始日" id="LAY_demorange_s">-->
<!--</div>-->
<!--<div class="layui-input-inline">-->
<!--<input class="layui-input" placeholder="截止日" id="LAY_demorange_e">-->
<!--</div>-->
<!--<div class="layui-input-inline">-->
<!--<input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">-->
<!--</div>-->
<!--<div class="layui-input-inline" style="width:80px">-->
<!--<button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<blockquote class="layui-elem-quote">
    <div class="layui-inline">
        <form class="layui-form" id="resourceSearchForm">
            <div class="layui-input-inline" >
                <input type="text" name="name" value="" placeholder="资源名称" class="layui-input search_input">
            </div>
            <div class="layui-input-inline" style="width:145px;">
                <% if(parents && parents.length > 0){%>
                <select name="parent_id" lay-filter="" >
                    <option value="-1" >选择父级</option>
                    <% parents.forEach(function(item){ %>
                    <option value='<%= item.id ? item.id : '' %>'><%= item.name %></option>
                    <% }) %>
                </select>
                <% } %>
            </div>

            <a id="search_btn" class="layui-btn roleSearchList_btn layui-btn-normal">
                <i class="layui-icon larry-icon">&#xe615;</i>查询
            </a>
            <a id="add_btn" class="layui-btn roleSearchList_btn layui-btn-normal">
                <i class="layui-icon larry-icon">&#xe61f;</i>新增资源
            </a>
        </form>
    </div>
</blockquote>
<table class="layui-table" id="table" lay-filter="table">
</table>

<script type="text/javascript">
  layui.use(['table', 'form'], function () {

    var table = layui.table, form = layui.form;$ = layui.jquery;
    var resourceTableRender = table.render({
      elem: '#table',
      url: '/admin/resource/index',
      id:'roleTableId',
      method: 'post',
      height:'400',
      skin:'row',
      even:'true',
      align:"center",
      cols: [[
        {checkbox: true, fixed:'left',},
        {field:'name', title: '资源名称',width: 120 },
        {field:'alias_name', title: '资源别名',width: 130},
        {field:'parent_id', title: '父级资源',width: 200, templet: '#parent_name'},
        {field:'path', title: '资源路径',width: 200},
        {fixed:'right', title: '操作', align:'center',width: 195, toolbar: '#operation'}
      ]],
      page: true,
      limit: 10//默认显示10条
    });

    $('body').on('click', '#add_btn', function () {
     layer.open({
        type: 2,
        title: '新增资源',
        maxmin: true,
        resize: false,
        area: ['75%', '60%'],
        content: '/admin/resource/input',
        zIndex: layer.zIndex, //重点1,
        end:function () {
          resourceTableRender.reload({
            where: {}
          });
        }
      });
    });

    $('body').on('click', '#search_btn', function (){
      var obj = {};
      var array = $('#resourceSearchForm').serializeArray();
      for (var i = 0; i < array.length; i++) {
        var item = array[i];
        if(item.value&&item.value != "")
            obj[item.name] = item.value;
        else
          delete obj[item.name];
      }
      resourceTableRender.reload({
        where: obj
      });
    });

    //监听工具条
    table.on('tool(table)', function(obj) {
      var isSuccess = false;
      if (obj.event === 'edit') {
        isSuccess = true;
        layer.open({
          type: 2,
          title: '修改资源',
          maxmin: true,
          resize: false,
          area: ['60%', '60%'],
          content: '/admin/resource/input?id=' + obj.data.id,
          zIndex: layer.zIndex, //重点1
          // success: function(layero) {
          //   // layer.setTop(layero); //重点2
          // }
          cancel: function () {
            isSuccess = false;
          },
          end: function () {
            if (isSuccess) {
              var obj = {};
              var array = $('#resourceSearchForm').serializeArray();
              for (var i = 0; i < array.length; i++) {
                var item = array[i];
                obj[item.name] = item.value;
              }

              resourceTableRender.reload({
                where: obj
              });
            }
          }
        });
      } else if (obj.event === 'delete') {
        layer.confirm('是否确定删除？', {icon: 3, title:'提示'}, function(index) {
          layer.close(index);
          var loading = layer.load(1);
          $.post('/admin/resource/delete', obj.data, function(data) {
            layer.close(loading);
            if (data.errCode === 0) {
              layer.msg(data.msg, {
                icon: 6,
                time: 1000
              }, function() {

                obj.del();
                resourceTableRender.reload({
                  where: {}
                });
              });
            } else {
              layer.msg(data.msg, {icon: 5});
            }
          });
        });
      }
    })

  });
</script>
<script type="text/html" id="parent_name">
    {{d.parent_id ? d.parent_id.name : '---无父级---'}}
</script>
<script type="text/html" id="operation">
    <a class="layui-btn layui-btn-small" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-small layui-btn-danger" lay-event="delete">删除</a>
</script>