<div style="margin: 65px">
    <img src="/images/index.png" >
    <div style="display: inline-block;font-size: 36px;font-family: cursive;text-align: center;">
        <p style="color: #F2A018;">欢迎使用</p>
        <span>觅食后台管理系统</span>
    </div>
</div>