<link rel="stylesheet" href="/adminlte/plugins/datatables/dataTables.bootstrap.css">
<script src="/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/adminlte/plugins/datatables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="/adminlte/plugins/jquery-confirm/jquery-confirm.min.css">
<script src="/adminlte/plugins/jquery-confirm/jquery-confirm.min.js"></script>

<section class="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">文章列表</h3>
    </div>
    <div class="box-body">
      <form id="search_form">
        <div class="row">
          <div class="form-group col-md-3">
            <label for="exampleInputEmail1">article_id</label>
            <input name="article_id" class="form-control" placeholder="article_id">
          </div>
          <div class="form-group col-md-3">
            <label for="exampleInputEmail1">标题</label>
            <input name="title" class="form-control" placeholder="标题">
          </div>
          <div class="form-group col-md-3">
            <label for="exampleInputEmail1">内容</label>
            <input name="content" class="form-control" placeholder="内容">
          </div>
          <div class="form-group col-md-3">
            <label for="exampleInputEmail1">type</label>
            <input name="type" class="form-control" placeholder="type">
          </div>
        </div>
      </form>

      <div style="margin-top: 10px; text-align: center;">
        <button id="search_reset" type="reset" class="btn">清空</button>
        <button id="search_submit" type="submit" class="btn btn-primary">
          <i class="fa fa-search"></i> 搜索
        </button>
      </div>

      <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row">
          <div class = "col-sm-12">
            <table id="example1" class="table table-bordered table-striped table-hover dataTable">

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  var searchData = {};
  var dataTable = $('#example1').DataTable({
    "displayLength": 10,
    "processing": true,
    "serverSide": true,
    "columns": [
      { "data": "article_id", title: 'article_id', "sDefaultContent": "", "sClass" : "center" },
      { "data": "title", title: '标题', "sDefaultContent": "", "sClass" : "center" },
      { "data": "content", title: '内容', "sDefaultContent": "", "sClass" : "center" },
      { "data": "type", title: 'type', "sDefaultContent": "", "sClass" : "center" },
      { "data": 'password', title: '操作', "width": "120px",
        render: function (data, type, row, meta) {
          var str = "";
          str += '<a href="/admin3/article/edit?article_id=' + row.article_id + '">编辑</a>';
          str += '<a href="#" onclick="del(\'' + row.article_id + '\', event)" style="margin-left: 8px;">删除</a>';
          return str;
        }
      }
    ],
    "ajax": {
      "url": "/admin3/article/list",
      'method': 'post',
      'data': function (d) {
        $.extend(d, searchData);
      }
    },
//    "lengthMenu" : [10, 25, 50], //更改显示记录数选项
//    "scrollY": "380",
//    "scrollCollapse" : true,
    "lengthChange": false,
//    "deferRender": false,
    'sort': false,
    "searching": false,
    'autoWidth': false,
    "language": {//下面是一些汉语翻译
      "search": "搜索:",
      "lengthMenu": "每页显示 _MENU_ 条记录",
      "zeroRecords": "没有检索到数据",
      "info": "共 _TOTAL_ 条;&nbsp;&nbsp显示 _START_ 至 _END_ 条",
      "infoFiltered": "(筛选自 _MAX_ 条数据)",
      "infoEmpty": "",
      "processing": "正在加载数据...",
      "loadingRecords": "正在加载数据...",
      "paginate":
        {
          "first": "首页",
          "previous": "前一页",
          "next": "后一页",
          "last": "末页"
        }
    }
  });
  $(document).on('click', '#search_reset', function () {
    $('#search_form')[0].reset();
  });
  $(document).on('click', '#search_submit', function () {
    searchData = {};
    var data = $('#search_form').serializeArray();
    for (var i in data) {
      var kv = data[i];
      searchData[kv['name']] = kv['value'];
    }
    dataTable.ajax.reload();
  });

  function del(article_id, event) {
    event.preventDefault();
    $.confirm({
      title: '提示',
      content: '是否删除?',
      type: 'red',
      typeAnimated: true,
      buttons: {
        tryAgain: {
          text: '取消'
        },
        close: {
          text: '删除',
          btnClass: 'btn-red',
          action: function () {
            $.post('/admin3/article/del', {article_id: article_id}, function (result) {
              if (result.errCode === 0) {
                dataTable.ajax.reload(null, false);
              } else {
                if (result.errCode) {
                  $.alert({
                    title: '提示',
                    content: result.msg,
                    type: 'red',
                    buttons: {
                      close: {
                        text: '确定'
                      }
                    }
                  });
                }
              }
            }, 'json');
          }
        }
      }
    });
  }

</script>
