<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="component-form-group">
        <div class="layui-form-item">
          <label class="layui-form-label">旧密码</label>
          <div class="layui-input-block">
            <input
              type="password"
              name="oldPassword"
              lay-verify="oldPassword"
              placeholder="旧密码"
              autocomplete="off"
              class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">新密码</label>
          <div class="layui-input-block">
            <input
              type="password"
              name="newPassword"
              lay-verify="newPassword"
              placeholder="新密码"
              autocomplete="off"
              class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">重复密码</label>
          <div class="layui-input-block">
            <input
              type="password"
              name="confirmPassword"
              lay-verify="confirmPassword"
              placeholder="重复密码"
              autocomplete="off"
              class="layui-input">
          </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
              <button class="layui-btn" lay-submit="" lay-filter="component-form-submit">立即提交</button>
              <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  layui.config({
    base: '/admin/js/'
  }).use(['form', 'laydate', 'adminUtils'], function () {
    var form = layui.form;
    var adminUtils = layui.adminUtils;

    /* 自定义验证规则 */
    form.verify({
      oldPassword: function (value, item) {
        if (value.trim().length < 6) {
          return '密码的长度必须大于6';
        }
        if (value.trim().length > 255) {
          return '密码的长度必须小于255';
        }
      },
      newPassword: function (value, item) {
        if (value.trim().length < 6) {
          return '密码的长度必须大于6';
        }
        if (value.trim().length > 255) {
          return '密码的长度必须小于255';
        }
      },
      confirmPassword: function (value, item) {
        if (value.trim().length < 6) {
          return '密码的长度必须大于6';
        }
        var reg = /^(\-|\+)?\d+(\.\d+)?$/;
        if(!reg.test(value.trim())) {
          return '密码的长度必须小于255';
        }
      },
    });

    /* 监听提交 */
    form.on('submit(component-form-submit)', function (data) {
      var fields = data.field;
      adminUtils.fetch({
        url: '/sys/user/changePwd',
        data: fields,
        success: function(data) {
          window.location.reload();
        }
      });
      return false;
    });
  });
</script>
