<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>后台</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/adminlte/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/adminlte/dist/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/adminlte/dist/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/adminlte/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/adminlte/dist/css/skins/_all-skins.min.css">
  <!-- iCheck -->
  <!--<link rel="stylesheet" href="/adminlte/plugins/iCheck/flat/blue.css">-->
  <!-- Morris chart -->
  <!--<link rel="stylesheet" href="/adminlte/plugins/morris/morris.css">-->
  <!-- jvectormap -->
  <!--<link rel="stylesheet" href="/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.css">-->
  <!-- Date Picker -->
  <!--<link rel="stylesheet" href="/adminlte/plugins/datepicker/datepicker3.css">-->
  <!-- Daterange picker -->
  <!--<link rel="stylesheet" href="/adminlte/plugins/daterangepicker/daterangepicker.css">-->
  <!-- bootstrap wysihtml5 - text editor -->
  <!--<link rel="stylesheet" href="/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">-->

  <!-- jQuery 2.2.3 -->
  <script src="/adminlte/plugins/jQuery/jquery-2.2.3.min.js"></script>
  <!-- Bootstrap 3.3.6 -->
  <script src="/adminlte/bootstrap/js/bootstrap.min.js"></script>
  <!-- Slimscroll -->
  <script src="/adminlte/plugins/slimScroll/jquery.slimscroll.min.js"></script>
  <!-- FastClick -->
  <!--<script src="/adminlte/plugins/fastclick/fastclick.js"></script>-->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <style>
    .content-headerFixed {
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      z-index: 999;
    }
  </style>

</head>
<body class="hold-transition skin-red sidebar-mini fixed">
<div class="wrapper">
  <header class="main-header">
    <a href="/admin/index/home" class="logo">
      <span class="logo-lg">后台管理</span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li>
            <a onClick="logOut()" href="#"><i class="fa fa-sign-out"></i><b>退出登录</b></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img
            src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1493710341&di=9871eaa039b92feaeef97e884c977448&src=http://cdn.duitang.com/uploads/item/201511/29/20151129193025_KGM58.jpeg"
            class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>HandsomeSir</p>
          <b>超级管理员</b>
        </div>
      </div>
      <ul class="sidebar-menu">
        <li class="header">导航</li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
            <li class="active"><a href="/admin/Index/home"><i class="fa fa-circle-o"></i> 首页</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Layout Options</span>
            <span class="pull-right-container">
        <span class="label label-primary pull-right">4</span>
        </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
            <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
            <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
            <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
          </ul>
        </li>
        <li>
          <a href="/admin/Index/userList">
            <i class="fa fa-th"></i> <span>用户列表</span>
            <span class="pull-right-container">
        <small class="label pull-right bg-green">new</small>
        </span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <div class="content-wrapper">
    <%- body %>
    <!--<iframe style="width:100%;height:100%;" src="http://www.baidu.com" id="myiframe" scrolling="no" frameborder="0"></iframe>-->
  </div>
  <footer class="main-footer content-headerFixed">
    <strong>Copyright &copy; 2017 <a href="/admin/index/home">xxx</a>.</strong> All rights
    reserved.
  </footer>
</div>
<script type="text/javascript">
  function logOut() {
    $.ajax({
      url: "/admin/Index/logOut",
      type: "GET",
      dataType: 'json',
      data: {},
      success: function (res) {
        if (!!res && !!res.msg) {
          console.log("退出");
          location.href = "/admin/Index/login";
        } else {
          alert("出现异常！");
        }
      }
    });
  }
</script>

<!-- AdminLTE App -->
<script src="/adminlte/dist/js/app.min.js"></script>
</body>
</html>
