<!DOCTYPE html>
<html>
<head>
    <title><%= '后台管理系统' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/admin/css/admin.css" media="all">
    <script src="/layui/layui.js"></script>
</head>
<body>
<%- body %>
</body>
</html>
